/* _list-groups.scss */

/* List Group Styles */
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-radius: $border-radius;

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.125);

        &.active {
            z-index: 2;
            color: $white;
            background-color: $primary-color;
            border-color: $primary-color;
        }

        &.disabled {
            color: $light-color;
            background-color: $dark-color;
            border-color: $dark-color;
        }

        &:hover,
        &:focus {
            color: $primary-color;
            background-color: $light-color;
        }
    }
}

/* List Group Horizontal */
.list-group-horizontal {
    flex-direction: row;

    .list-group-item {
        border-right-width: 0;

        &:last-child {
            border-right-width: 1px;
        }
    }
}