/* _media-object.scss */

/* Media Object Styles */
.media {
    display: flex;
    align-items: flex-start;

    .media-image {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        margin-right: 1rem;
        background-color: $light-color;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .media-body {
        flex: 1;

        h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
        }

        p {
            margin-bottom: 0;
        }
    }
}