/* _pagination-states.scss */

/* Pagination State Styles */
.pagination {
    .page-item {
        &.active .page-link {
            z-index: 2;
            color: $white;
            background-color: $primary-color;
            border-color: $primary-color;
        }

        &.disabled .page-link {
            color: $light-color;
            pointer-events: none;
            background-color: $dark-color;
            border-color: $dark-color;
        }
    }
}