/* _popover-body.scss */

/* Popover Body Styles */
.popover-body {
    padding: 1rem;
    color: $dark-color;
    background-color: $white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}