/* _mixins.scss */

/* Breakpoint Mixin */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@mixin media-breakpoint-up($name) {
    @if map-has-key($grid-breakpoints, $name) {
        @media (min-width: map-get($grid-breakpoints, $name)) {
            @content;
        }
    }
}